In [1]:
import pandas as pd
import numpy as np 
import glob
import re
import nltk
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger')
from nltk.stem.wordnet import WordNetLemmatizer
pd.options.display.max_columns = None
pd.options.display.max_rows = None
from sklearn.model_selection import train_test_split

from google.colab import drive
drive.mount('/content/gdrive')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv('/content/gdrive/My Drive/tickets/all_tickets.csv')
df.head()

In [ ]:
df.shape

(48549, 9)

In [ ]:
df['urgency'].value_counts()

3    34621
1     6748
2     5528
0     1652
Name: urgency, dtype: int64

In [ ]:
df['impact'].value_counts()

4    34621
3    13184
0      471
2      228
1       45
Name: impact, dtype: int64

In [ ]:
df['ticket_type'].value_counts()

1    34621
0    13928
Name: ticket_type, dtype: int64

In [ ]:
df['category'].value_counts()

4     34061
5      9634
6      2628
7       921
11      612
8       239
9       191
3       137
1        72
12       45
0         4
2         3
10        2
Name: category, dtype: int64

In [ ]:
df['sub_category1'].value_counts()

2     9857
3     8324
1     7857
13    6487
21    5710
51    2402
22    1475
15    1226
9     1114
12     624
14     620
32     559
39     354
30     222
54     217
50     204
36     177
45     176
56     147
10     114
35      83
27      79
28      60
49      57
41      54
37      48
16      42
58      34
17      27
53      26
57      25
8       15
55      13
24      12
34      11
33      10
19       8
44       8
43       7
4        7
18       6
26       6
20       6
38       5
52       4
0        4
40       4
6        3
31       3
42       3
46       2
23       2
48       2
7        2
11       1
29       1
25       1
5        1
47       1
Name: sub_category1, dtype: int64

In [ ]:
df['sub_category2'].value_counts()

7      18197
21      6581
41      3232
0       2705
88      2243
23      1733
94      1626
1       1151
105     1145
87      1012
77       975
11       935
60       709
73       700
76       671
78       604
111      593
51       497
50       424
82       409
3        307
74       212
71       177
95       149
53       118
4         99
98        99
29        96
63        92
86        86
62        85
22        83
112       69
30        69
55        62
65        45
91        42
54        40
113       39
66        35
12        32
16        30
110       27
90        25
32        24
106       20
46        14
59        14
80        14
2         13
20        12
43        12
17        11
14        10
69        10
6          8
57         7
101        7
93         6
89         5
100        5
52         5
96         5
19         4
15         4
61         4
84         4
108        3
45         3
44         3
67         3
81         2
99         2
97         2
38         2
35         2
83         2
27         2
40         2
70         2
92         2
75         2
8          2
36         2
114        2
10         2
85         1
34         1
18         1
58         1
49         1
25         1
72         1
64         1
103        1
47         1
5          1
48         1
39         1
109        1
9          1
102        1
33         1
13         1
24         1
26         1
104        1
107        1
68         1
79         1
42         1
31         1
37         1
28         1
56         1
Name: sub_category2, dtype: int64

In [ ]:
df.head()

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact
0,NaN,hi since recruiter lead permission approve req...,1,4,2,21,71,3,4
1,connection with icon,icon dear please setup icon per icon engineers...,1,6,22,7,26,3,4
2,work experience user,work experience user hi work experience studen...,1,5,13,7,32,3,4
3,requesting for meeting,requesting meeting hi please help follow equip...,1,5,13,7,32,3,4
4,reset passwords for external accounts,re expire days hi ask help update passwords co...,1,4,2,76,4,3,4

In [ ]:
for i in range(20):
  print(df['body'].iloc[i])

hi since recruiter lead permission approve requisitions makes please make thanks recruiter
icon dear please setup icon per icon engineers please let other details needed thanks lead
work experience user hi work experience student coming next his name much appreciate him duration thank
requesting meeting hi please help follow equipments cable pc cord plug
re expire days hi ask help update passwords colleagues thank pm expire days importance high hi received about expiration please kindly help prolongation best regards pm expire days importance high dear expire days order change please follow steps prerequisites disable device credentials close active connected by cable machine note also follow steps detailed press ctrl alt delete same pops change item enter format enter enter newly chosen then re enter again submit displaying has changed os machine browse enter format enter gear icon top tight browser window enter enter newly chosen then re enter again save connected note complete resources granted once connected by cable browse tick want change after logging enter format enter log enter enter newly chosen then re enter again change clients suppliers about expire please touch person then communicate back encounter issues hesitate by accessing yours
verification warning hi has got attached please addresses best regards monitoring analyst verification warning
please dear looks blacklisted receiving mails anymore sample attached thanks kind regards senior engineer
prod tunneling va la tunneling la host si la si host host cards port name bytes bytes seq bytes seq statistics packets transmitted received packet loss avg bytes bytes seq bytes seq tuesday pm acre re tunneling si pm acre re tunneling extended object host extended host extended object host range extended host range administrator re sector pm acre re tunneling va la si la tunneling design lead ext friday pm re tunneling va extended object host extended host administrator re sector pm tunneling va la tunneling users pinging bytes bytes bytes bytes bytes design lead ext con care pot partial strict si pot ale care va la contains proprietary information which legally privileged unauthorized dissemination prohibited intended recipient views addressing transmission error has misdirected please notify author by replying intended recipient must disclose distribute copy print rely
dear modules report report cost thank much regards
passwords client dear please passwords thank
please action reports dear way help close these maternity leave complete submit her left he technically left he client work after rd submit after delete period days two public holidays possible add thanks please action reports dear part established processes each required submit his weekly basis each friday past must submitted receiving because reports haven followed process please help cascade accordingly gets possible breakdown reports please note refers has left maternity other absence leave please update person record otherwise please person directly submit country date total days
connected rebuild hi please provide order debug sip trunk gateway wireless wired connected regards
device recovery report printer duplex unit printer details detected tray tray copier details detected tray scanner ready details model name device name comment host name printer name print name file name printer name zone name name computer name share name device printer printer notified
hello please fill date
visual studio license hello developer visual studio license thank best regards developer
hello movement has left available device please kind device denmark copenhagen denmark please source quotation shipping by lead
secondary hi please provide secondary ledger users please provide existing roles assigned these users prod test please create thank kind regards analyst
copy hi receive copy behavior expect receive myself thanks front developer
purchase po dear purchased received items lite updated include device under user name link please add allocation device thanks please log retrieve old device after receive item please take consideration mandatory receipts section order receive item ordered how video link please make return old device back accessories left receive receive old device take off user name kind regards administrator
invitation strategy workshop february manchester workshop forward colleague results campaign workshop reminder content workshop reminder ca cs dad ca trouble viewing view results campaign workshop reminder content workshop reminder cs dad ca assets images azure cs dad ca azure join cs dad ca manchester discuss journey unleash benefits powered by azure workshop control optimise strategy tickets cs dad ca february discussing best working opportunities digital give tools how embrace perfect environment wednesday february where sir busby way manchester further information found control optimise strategy tickets cs dad ca please note places join workshop manchester february control optimise strategy tickets cs dad ca make february workshop interest march where street campus birmingham join workshop birmingham control optimise strategy tickets cs dad ca assets images footer cs dad ca action campaign workshop reminder content workshop reminder ca cs dad ca road bb sr

In [ ]:
# Task is very easy because text is already cleaned
# we can only perform stemming or lemmatization
# but firstly let's check if all rows are in english

In [ ]:
!pip install langdetect
from langdetect import detect
df['lang'] = df['body'].apply(lambda x: detect(str(x)))
df['lang'].value_counts()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: langdetect in /usr/local/lib/python3.7/dist-packages (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect) (1.15.0)

en    46716
ca      410
it      359
fr      282
ro      158
es      126
da       88
nl       75
sv       68
no       59
af       49
cy       29
fi       19
pt       16
et       15
tl       15
id       10
pl        8
sl        7
sk        6
sq        6
de        6
lv        5
cs        5
hr        4
so        3
vi        2
sw        2
lt        1
Name: lang, dtype: int64

In [ ]:
df=frame

In [ ]:
#Let's be professional and check also title:
for index, row in df.iterrows():
  try:
    df['title_lang']=detect(str(row['title']))
  except:
    continue

In [ ]:
df['title_lang'].value_counts()

en    47837
Name: title_lang, dtype: int64

In [ ]:
#we could translate texts in foreign languages into English, but as they constitute a definite minority, we will simply remove them

df = df[df['lang']=='en']
df.shape

(46075, 13)

In [ ]:
df.dropna(subset = ["title","body"], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
df['combined'] = df['title'] +' '+df['body']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
wnl = WordNetLemmatizer()
 
def pos_tag_wordnet(tagged_tokens):
  tag_map = {'j': wordnet.ADJ, 'v': wordnet.VERB, 'n': wordnet.NOUN, 'r': wordnet.ADV}
  new_tagged_tokens = [(word, tag_map.get(tag[0].lower(), wordnet.NOUN))
                          for word, tag in tagged_tokens]
  return new_tagged_tokens
def wordnet_lemmatize_text(text):
  tagged_tokens = nltk.pos_tag(nltk.word_tokenize(text))
  wordnet_tokens = pos_tag_wordnet(tagged_tokens)
  lemmatized_text = ' '.join(wnl.lemmatize(word,tag) for word, tag in wordnet_tokens)
  return lemmatized_text

In [ ]:
ToAvoid = [
    'please', 'dear', 'dears',
    'best regards', 'hi', 'hello', 'good morning',
    'good bye', 'thank you', 'have a great day',
    'have a nice day', 'kind regards'
]
def cleanEmailBody(emailBody):
  for sent in ToAvoid:
    emailBody = re.sub(sent, '', emailBody, flags = re.IGNORECASE)
  return emailBody

def clean(x):
  x = (str(x).lower())
  x = (re.sub(r'[0-9]', " ", str(x)))
  return x
  
def StopWordsRemoval(text):
  word_tokens = word_tokenize(text)
  filtered_sentence = [w for w in word_tokens if not w.lower() in set(stopwords.words('english'))]
  return (' '.join(filtered_sentence))

In [ ]:
def preprocessing(x):
  x = str(x)
  x = wordnet_lemmatize_text(x)
  x = cleanEmailBody(x)
  x = clean(x)
  x = x.strip()
  x = StopWordsRemoval(x)
  return x

In [ ]:
df['clean']= df['combined'].apply(lambda x: preprocessing(str(x)))

In [ ]:
df.head()

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,lang,title_lang,combined,clean
1,connection with icon,icon dear please setup icon per icon engineers...,1,6,22,7,26,3,4,en,en,connection with icon icon dear please setup ic...,connection icon icon setup icon per icon engin...
2,work experience user,work experience user hi work experience studen...,1,5,13,7,32,3,4,en,en,work experience user work experience user hi w...,work experience user work experience user work...
3,requesting for meeting,requesting meeting hi please help follow equip...,1,5,13,7,32,3,4,en,en,requesting for meeting requesting meeting hi p...,request meet request meeting help follow equip...
4,reset passwords for external accounts,re expire days hi ask help update passwords co...,1,4,2,76,4,3,4,en,en,reset passwords for external accounts re expir...,reset password external account expire day ask...
5,mail,verification warning hi has got attached pleas...,1,4,3,7,89,3,4,en,en,mail verification warning hi has got attached ...,mail verification warn get attach address best...

In [ ]:
from google.colab import files
df.to_csv('output.csv', encoding = 'utf-8-sig') 
files.download('output.csv')

# Ticket Type Prediction - Binary Classification

In [ ]:
df_train, df_test = train_test_split(df, test_size = 0.2, shuffle = True, stratify= df['ticket_type'], random_state = 31)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features = 2000, ngram_range = (1,1), max_df = 0.8)

X_train_tf = vectorizer.fit_transform(df_train['clean'])
X_test_tf = vectorizer.transform(df_test['clean'])

In [ ]:
from sklearn.metrics import classification_report, accuracy_score

In [ ]:
import xgboost as xgb
clf = xgb.XGBClassifier(max_depth=7, n_estimators = 200, colsample_bytree = 0.8, subsample = 0.8, nthread = 10, learning_rate = 0.1)

clf.fit(X_train_tf, df_train['ticket_type'])

predict = clf.predict(X_test_tf)

print('Accuracy: %.3f' % accuracy_score(df_test['ticket_type'], predict))
classification_report = classification_report(df_test['ticket_type'], predict)
print(classification_report)

Accuracy: 0.980

'              precision    recall  f1-score   support\n\n           0       0.98      0.96      0.97      2656\n           1       0.98      0.99      0.99      6559\n\n    accuracy                           0.98      9215\n   macro avg       0.98      0.97      0.98      9215\nweighted avg       0.98      0.98      0.98      9215\n'

In [ ]:
rep = classification_report(df_test['ticket_type'], predict)
print(rep)

              precision    recall  f1-score   support

           0       0.98      0.96      0.97      2656
           1       0.98      0.99      0.99      6559

    accuracy                           0.98      9215
   macro avg       0.98      0.97      0.98      9215
weighted avg       0.98      0.98      0.98      9215

#Oversampling - data augmentation

In [ ]:
#Obviously I could check more models and do fine tuning, but the results are good, so as part of the experiment I will check how the model behaves after using upsampling method since data is imbalanced
# for this purpose we will use data augmentation techniques

In [3]:
!pip install nlpaug

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nlpaug
  Downloading nlpaug-1.1.11-py3-none-any.whl (410 kB)
     || 410 kB 8.2 MB/s
Requirement already satisfied: gdown>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from nlpaug) (4.4.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from nlpaug) (1.21.6)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from nlpaug) (1.3.5)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from nlpaug) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown>=4.0.0->nlpaug) (4.6.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown>=4.0.0->nlpaug) (3.8.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown>=4.0.0->nlpaug) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown>=4.0.0->nlpaug) (4.64.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->nlpaug) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->nlpaug) (2022.2.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (1.7.1)
Installing collected packages: nlpaug
Successfully installed nlpaug-1.1.11

In [4]:
import nlpaug.augmenter.char as nac
import nlpaug.augmenter.word as naw
import nlpaug.augmenter.sentence as nas 
import nlpaug.flow as nafc
from nlpaug.util import Action
from sklearn.utils import resample

In [45]:
df = pd.read_csv('/content/gdrive/My Drive/tickets/output.csv')

In [ ]:
def prepare(data, clas, class_max):
    data = data[data['class']==clas]
    total_rows = class_max.shape[0]
    n = total_rows - data[data['class']==clas].shape[0]
    class_new = resample(data, replace = True, n_samples = n, random_state = 43)
  
    return class_new

In [ ]:
def augmenting(text):
  aug = naw.SynonymAug(aug_src='wordnet')
  augmented_text = aug.augment(text)
  return augmented_text

In [ ]:
 df['ticket_type'].value_counts()

1    32797
0    13278
Name: ticket_type, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df['clean'], df['ticket_type'], test_size = 0.2, shuffle = True, stratify= df['ticket_type'], random_state = 31)
train_df = pd.DataFrame({'vector': X_train, 'class': y_train})
test_df = pd.DataFrame({'vector': X_test, 'class': y_test})

In [ ]:
test_df['class'].value_counts()

1    6559
0    2656
Name: class, dtype: int64

In [ ]:
train_df['class'].value_counts()

1    26238
0    10622
Name: class, dtype: int64

In [ ]:
top_class = train_df[train_df['class']==1]

In [ ]:
resampled = prepare(train_df,0,top_class)

In [ ]:
resampled.shape

(15616, 2)

In [ ]:
#sanity_check
print(resampled.shape[0]+train_df[train_df['class']==0].shape[0])

26238

In [ ]:
resampled['vector']=resampled['vector'].apply(lambda x: augmenting(str(x)))

In [ ]:
frames = [train_df, resampled]
train_df = pd.concat(frames)
train_df['class'].value_counts()

1    26238
0    26238
Name: class, dtype: int64

In [ ]:
test_df['class'].value_counts()

1    6559
0    2656
Name: class, dtype: int64

In [ ]:
train_df['vector']= train_df['vector'].apply(lambda x: preprocessing(str(x)))

In [ ]:
test_df['vector']= test_df['vector'].apply(lambda x: preprocessing(str(x)))

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features = 2000, ngram_range = (1,1), max_df = 0.8)

X_train_tf = vectorizer.fit_transform(train_df['vector'])
X_test_tf = vectorizer.transform(test_df['vector'])

In [33]:
from sklearn.metrics import classification_report, accuracy_score

In [ ]:
import xgboost as xgb
clf = xgb.XGBClassifier(max_depth=7, n_estimators = 200, colsample_bytree = 0.8, subsample = 0.8, nthread = 10, learning_rate = 0.1)

clf.fit(X_train_tf, train_df['class'])

predict = clf.predict(X_test_tf)

print('Accuracy: %.3f' % accuracy_score(test_df['class'], predict))
classification_report = classification_report(test_df['class'], predict)
print(classification_report)

Accuracy: 0.979
              precision    recall  f1-score   support

           0       0.95      0.98      0.96      2656
           1       0.99      0.98      0.99      6559

    accuracy                           0.98      9215
   macro avg       0.97      0.98      0.97      9215
weighted avg       0.98      0.98      0.98      9215

# Category prediction

In [46]:
df.head()

,Unnamed: 0,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,lang,title_lang,combined,clean
0,1,connection with icon,icon dear please setup icon per icon engineers...,1,6,22,7,26,3,4,en,en,connection with icon icon dear please setup ic...,connection icon icon setup icon per icon engin...
1,2,work experience user,work experience user hi work experience studen...,1,5,13,7,32,3,4,en,en,work experience user work experience user hi w...,work experience user work experience user work...
2,3,requesting for meeting,requesting meeting hi please help follow equip...,1,5,13,7,32,3,4,en,en,requesting for meeting requesting meeting hi p...,request meet request meeting help follow equip...
3,4,reset passwords for external accounts,re expire days hi ask help update passwords co...,1,4,2,76,4,3,4,en,en,reset passwords for external accounts re expir...,reset password external account expire day ask...
4,5,mail,verification warning hi has got attached pleas...,1,4,3,7,89,3,4,en,en,mail verification warning hi has got attached ...,mail verification warn get attach address best...

In [47]:
df['category'].value_counts()

4     32558
5      9089
6      2499
7       794
11      499
8       231
9       169
3       117
1        68
12       43
0         3
2         3
10        2
Name: category, dtype: int64

In [48]:
c_df = df['category'].value_counts().to_frame()
c_values = c_df['category'].to_list()
i=0
count=0
for c in c_values:
  if i <df.shape[0]*0.995:
    i += c
    count += 1
print(f'{count} of {len(c_values)} categories are inside of the top 99.8%')

8 of 13 categories are inside of the top 99.8%

In [49]:
def get_top_by_percentage(data, column, percentage):
  counts = data[column].value_counts()
  total_count = counts.sum()
  counts_per = (counts / total_count)
  counts_cs = counts_per.cumsum()
  argmax = (counts_cs > percentage).argmax()
  return counts[0:argmax+1]

In [50]:
def get_data_top_by_percentage(data, column, percentage):
  top = get_top_by_percentage(data,column,percentage)
  toplist = list(top.index)
  temp = data[~data[column].isin(toplist)]
  temp.loc[:,'category']=-1
  data = data[(data[column].isin(toplist))]
  data = pd.concat([data, temp])
  return data

data = get_data_top_by_percentage(df, 'category', 0.995)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [51]:
data['category'].value_counts()

 4     32558
 5      9089
 6      2499
 7       794
 11      499
 8       231
 9       169
-1       119
 3       117
Name: category, dtype: int64

In [41]:
data['category'] = data['category'].astype('int')

In [52]:
df_train, df_test = train_test_split(data, test_size = 0.2, shuffle = True, stratify= data['category'], random_state = 31)

In [53]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features = 2000, ngram_range = (1,1), max_df = 0.8)

X_train_tf = vectorizer.fit_transform(df_train['clean'])
X_test_tf = vectorizer.transform(df_test['clean'])

In [65]:
import xgboost as xgb
clf = xgb.XGBClassifier(max_depth=7, n_estimators = 200, colsample_bytree = 0.8, subsample = 0.8, nthread = 10, learning_rate = 0.1)

clf.fit(X_train_tf, df_train['category'])

predict = clf.predict(X_test_tf)

print('Accuracy: %.3f' % accuracy_score(df_test['category'], predict))
print('F1_score: %.3f' % f1_score(df_test['category'], predict, average='macro'))

Accuracy: 0.870
F1_score: 0.566

# 2 Features

In [95]:
#let's add more features for classifier
# remember that rows in tfidf matrix sum to 1, so additional features need also to sum to 1, so all features are normalized

s = data[['clean', 'category']]
s1 = data['urgency']
s1 = pd.get_dummies(s1)
nam = s1.columns.values.tolist()

s1['feature1'] = [x for x in s1[nam].to_numpy()]
s1=s1[['feature1']]
s3 = pd.concat([s,s1], axis=1)

In [75]:
s3.head()

                                               clean  category      feature1
0  connection icon icon setup icon per icon engin...         6  [0, 0, 0, 1]
1  work experience user work experience user work...         5  [0, 0, 0, 1]
2  request meet request meeting help follow equip...         5  [0, 0, 0, 1]
3  reset password external account expire day ask...         4  [0, 0, 0, 1]
4  mail verification warn get attach address best...         4  [0, 0, 0, 1]

In [76]:
X_train, X_test, y_train, y_test = train_test_split(s3[['clean', 'feature1']], s3['category'], test_size = 0.2, shuffle = True, stratify= s3['category'], random_state = 31)

In [77]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features = 1000, ngram_range = (1,2))

X_train_tf = vectorizer.fit_transform(X_train['clean'])
X_test_tf = vectorizer.transform(X_test['clean'])

In [80]:
arr = X_train['feature1'].to_list()

In [81]:
arr = np.stack(arr, axis=0)
arr.shape

(36860, 4)

In [82]:
arr

array([[0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       ...,
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 0, 1]], dtype=uint8)

In [84]:
X_train_tf.shape

(36860, 1000)

In [86]:
from scipy.sparse import hstack
m = hstack((X_train_tf, arr))
m.shape

(36860, 1004)

In [78]:
def stacking(data, tfmat):
  arr = data.to_list()
  return hstack((tfmat, np.stack(arr, axis=0)))

In [89]:
m2 = stacking(X_test['feature1'], X_test_tf)
m2.shape

(9215, 1004)

In [94]:
import xgboost as xgb
clf = xgb.XGBClassifier(max_depth=7, n_estimators = 200, colsample_bytree = 0.8, subsample = 0.8, nthread = 10, learning_rate = 0.1)

clf.fit(m, y_train)

predict = clf.predict(m2)

print('Accuracy: %.3f' % accuracy_score(y_test, predict))
print('F1_score: %.3f' % f1_score(y_test, predict, average='macro'))

Accuracy: 0.872
F1_score: 0.552

# 3 features

In [96]:
#let's check classfier with 3 features:
s = data[['clean', 'category']]
s1 = data['urgency']
s1 = pd.get_dummies(s1)
nam = s1.columns.values.tolist()

s1['feature1'] = [x for x in s1[nam].to_numpy()]
s1=s1[['feature1']]

s2 = data['impact']
s2 = pd.get_dummies(s2)
nam = s2.columns.values.tolist()

s2['feature2'] = [x for x in s2[nam].to_numpy()]
s2=s2[['feature2']]
s3 = pd.concat([s,s1,s2], axis=1)

In [98]:
print(s3.shape)
s3.head()

(46075, 4)

,clean,category,feature1,feature2
0,connection icon icon setup icon per icon engin...,6,"[0, 0, 0, 1]","[0, 0, 0, 0, 1]"
1,work experience user work experience user work...,5,"[0, 0, 0, 1]","[0, 0, 0, 0, 1]"
2,request meet request meeting help follow equip...,5,"[0, 0, 0, 1]","[0, 0, 0, 0, 1]"
3,reset password external account expire day ask...,4,"[0, 0, 0, 1]","[0, 0, 0, 0, 1]"
4,mail verification warn get attach address best...,4,"[0, 0, 0, 1]","[0, 0, 0, 0, 1]"

In [99]:
X_train, X_test, y_train, y_test = train_test_split(s3[['clean', 'feature1','feature2']], s3['category'], test_size = 0.2, shuffle = True, stratify= s3['category'], random_state = 31)

In [100]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features = 1000, ngram_range = (1,2))

X_train_tf = vectorizer.fit_transform(X_train['clean'])
X_test_tf = vectorizer.transform(X_test['clean'])

In [102]:
m1 = stacking(X_train['feature1'], X_train_tf)
m1.shape

(36860, 1004)

In [103]:
m1 = stacking(X_train['feature2'],m1)
m1.shape

(36860, 1009)

In [104]:
m2 = stacking(X_test['feature1'], X_test_tf)
m2.shape

(9215, 1004)

In [105]:
m2 = stacking(X_test['feature2'], m2)
m2.shape

(9215, 1009)

In [107]:
import xgboost as xgb
clf = xgb.XGBClassifier(max_depth=7, n_estimators = 200, colsample_bytree = 0.8, subsample = 0.8, nthread = 10, learning_rate = 0.1)

clf.fit(m1, y_train)

predict = clf.predict(m2)

print('Accuracy: %.3f' % accuracy_score(y_test, predict))
print('F1_score: %.3f' % f1_score(y_test, predict, average='macro'))

Accuracy: 0.873
F1_score: 0.569

In [108]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features = 2000, ngram_range = (1,2))

X_train_tf = vectorizer.fit_transform(X_train['clean'])
X_test_tf = vectorizer.transform(X_test['clean'])
m1 = stacking(X_train['feature1'], X_train_tf)
m1 = stacking(X_train['feature2'],m1)
m2 = stacking(X_test['feature1'], X_test_tf)
m2 = stacking(X_test['feature2'], m2)

clf = xgb.XGBClassifier(max_depth=7, n_estimators = 200, colsample_bytree = 0.8, subsample = 0.8, nthread = 10, learning_rate = 0.1)

clf.fit(m1, y_train)

predict = clf.predict(m2)

print('Accuracy: %.3f' % accuracy_score(y_test, predict))
print('F1_score: %.3f' % f1_score(y_test, predict, average='macro'))

Accuracy: 0.875
F1_score: 0.602